OSS_REGION=oss-cn-beijing
OSS_ACCESS_KEY_ID=LTAI5tABJ6BXekZDhfHSTCBN
OSS_ACCESS_KEY_SECRET=
OSS_BUCKET=agent-bucket123

MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

S3_ENDPOINT=http://localhost:9000
S3_PORT=9000
S3_ACCESS_KEY_ID=admin
S3_SECRET_ACCESS_KEY=Admin@123456
